body {
    background-color: #000;
    color: #fff;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial Black', sans-serif;
    overflow: hidden;
    touch-action: manipulation; /* Optimiza el toque en celular */
}

.container {
    text-align: center;
    width: 90%;
}

#lyrics {
    font-size: 8vw; /* Tamaño dinámico: se ajusta solo si es PC o Celular */
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2;
}

#status {
    font-size: 12px;
    color: #333;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
