body {
    background: #000;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial Black', sans-serif;
    margin: 0;
    overflow: hidden;
}
#lyrics {
    font-size: 10vw;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}
#status { position: absolute; top: 20px; color: #333; }
